{% extends '../_shared/_base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <form action="/delete/{{ calendarEvent.id }}/" method="post" class="form">
      <h1>Confirm Deletion</h1>
      <div>
        Are you sure?
      </div>
      <div>
        <input type="submit" value="Yes" class="btn btn-red" />
        <a href="/{{ calendarEvent.timestamp.getUTCFullYear() }}/"
          class="btn btn-cancel">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
