{% extends '../_shared/_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>
    {{ title }}
  </h1>
  <form action="{{ action }}" method="post">
    {% if not calendarEventForm.isValid() %}
      <ul>
        {% for error in calendarEventForm.getErrors() %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div>
      <label for="datetime">
        Date/Time
      </label>
      <input type="datetime-local" name="datetime" id="datetime"
        value="{{ calendarEventForm.datetime }}"/>
    </div>
    <div>
      <label for="description">
        Description
      </label>
      <input type="text" name="description" id="description"
        value="{{ calendarEventForm.description }}" />
    </div>
    <div>
      <input type="checkbox" name="broadcast" id="broadcast"
        {% if calendarEventForm.broadcast %}checked{% endif %} />
      <label for="broadcast">
        Broadcast
      </label>
    </div>
    <div>
      <input type="submit" value="Submit" />
      <a href="/">Cancel</a>
    </div>
  </form>
{% endblock content %}
