<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/img/icon.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/pushNotifications.js" type="module"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar-list">
          <li><a href="/" class="navbar-button">Calendar</a></li>
          <li><a href="/subscribe/" class="navbar-button">Subscribe</a></li>
          <li><a href="/unsubscribe/" class="navbar-button">Unsubscribe</a></li>
          <li id="web-push-toggle" class="navbar-button">Push&nbsp;OFF</li>
          {% if currentUser %}
            <li>
              <form action="/logout/" method="post">
                <input type="submit" value="Logout" class="navbar-button" />
              </form>
            </li>
          {% else %}
            <li><a href="/login/" class="navbar-button">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      &copy; 2024 Luke Hamann
    </footer>
  </body>
</html>
