{% extends '../_shared/_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>
  <form action="/login/" method="post">
    {% if errors %}
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{% if user %}{{ user.name }}{% endif %}" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
{% endblock %}
