{% extends '../_shared/_base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}
  <div>
    {% for y in range(yearsRange.min, yearsRange.max) %}
      <a href="/{{ y }}/">{{ y }}</a>
    {% endfor %}
  </div>
  <h1>
    {{ year }}
  </h1>
  {% if currentUser %}
    <form action="/add/" method="post">
      <span>Add event:</span>
      <input type="datetime-local" name="datetime" step="1" />
      <input type="text" name="description" />
      <input type="checkbox" name="broadcast" id="broadcast" checked />
      <label for="broadcast">Broadcast</label>
      <input type="submit" value="Add" />
    </form>
  {% endif %}
  {% if calendarEvents.length > 0 %}
    <table>
      {% for calendarEvent in calendarEvents %}
        <tr data-date="{{ calendarEvent.timestamp }}">
          <td>
            <kbd>
              {{ calendarEvent.timestamp.toString().slice(0, 24) }}
            </kbd>
          </td>
          <td>
            {{ calendarEvent.description }}
          </td>
          {% if currentUser %}
            <td>
              <a href="/edit/{{ calendarEvent.id }}/">edit</a>
            </td>
            <td>
              <a href="/delete/{{ calendarEvent.id }}/">delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
