{% extends '../_shared/_base.html' %}

{% block title %}{{ year }}{% endblock %}

{% block content %}
  {% set months = ["January", "February", "March", "April", "May", "June",
                   "July", "August", "September", "October", "November", "December"] %}
  <nav>
    <ul class="list-horizontal">
      {% for y in range(yearsRange.min, yearsRange.max + 1) %}
        <li><a href="/{{ y }}/">{{ y }}</a></li>
      {% endfor %}
    </ul>
    <ul class="list-horizontal">
      {% for m in months %}
        <li><a href="#{{ m.toLowerCase() }}">{{ m.slice(0, 3) }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div class="calendar-list">
    <h1 class="heading-year">
      {% if year > yearsRange.min %}
        <a href="/{{ year - 1 }}/">&lt;</a>
      {% else %}
        &lt;
      {% endif %}
      {{ year }}
      {% if year < yearsRange.max %}
        <a href="/{{ year + 1 }}/">&gt;</a>
      {% else %}
        &gt;
      {% endif %}
    </h1>
    {% if currentUser %}
      <div class="text-center">
        <a href="/add/" class="btn btn-blue">
          &plus; Add Event
        </a>
      </div>
    {% endif %}
    {% set month = -1 %}
    {% for calendarEvent in calendarEvents %}
      {% if calendarEvent.timestamp.getMonth() > month %}
        {% set month = calendarEvent.timestamp.getMonth() %}
        {% set monthName = months[month] %}
        <h2 id="{{ monthName.toLowerCase() }}">
          <a href="#{{ monthName.toLowerCase() }}">{{ monthName }}</a>
        </h2>
      {% endif %}
      <div class="event-container">
        <div class="date">
          <kbd>
            {{ calendarEvent.timestamp.toLocaleString() }}
          </kbd>
        </div>
        <div class="description">
          {{ calendarEvent.description }}
        </div>
        {% if currentUser %}
          <div class="controls">
            <a href="/edit/{{ calendarEvent.id }}/" class="btn btn-yellow">edit</a>
            <a href="/delete/{{ calendarEvent.id }}/" class="btn btn-red">delete</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
