{% extends '../_shared/_base.html' %}

{% block title %}Subscribe{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <div class="form">
      <h1>Subscribe</h1>
      {% if errors %}
        <ul class="form-errors">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <h2>Email</h2>
      <form action="/subscribe/" method="post">
        <input type="hidden" name="type" value="email" />
        <input type="text" name="target" autocomplete="off" />
        <input type="submit" value="Subscribe" class="btn btn-blue" />
      </form>
      <h2>Discord</h2>
      <form action="/subscribe/" method="post">
        <input type="hidden" name="type" value="discord" />
        <input type="password" name="target" />
        <input type="submit" value="Subscribe" class="btn btn-blue" />
      </form>
    </div>
  </div>
{% endblock %}
